body{
    margin: auto;
}

.header{
    background-color: #333333;
    height: 52px;
    border-radius: 30px;
    width: 50%;
}

a{
    color:#DCBFFF;
    
}

.imgFundo{
    display: table;
    width: 100%;
    text-align: center;
    background-size: cover;
}