@import url('https: //fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');

/* INDEX */
body {
    font-family: "Jacques Francois", serif;
    margin: auto;
    background-image: url(images/tela-fundo.png);
    display: table;
    width: 100%;
    background-size: cover;
    background-attachment: fixed; /*imagem fixa ao rolar a tela */
}


.header {
    background-color: #333333;
    height: 52px;
    border-radius: 30px;
    width: 50%;
    text-align: center; /*home, about, projects, contact*/
    margin: 30px;
}

a {
    color:#DCBFFF;
    font-size: 22px;
    text-decoration: none;
}

h1 {
    color: #FFFF;
    font-weight: 100;
}





footer p{
    color: #FFF;
    
}